

<section class="bg-gray-200 my-14 p-10 md:w-1/2 mx-auto">
  <h1 class="text-3xl capitalize">reset password</h1>
  <div class="container my-5">

    <input type="text" class="w-full mb-5" />

    @if (step === 1) {
      <form [formGroup]="verifyEmail" (ngSubmit)="formStep1()">
        <button class="btn">Verify Email</button>
      </form>
    } @else if (step === 2) {
      <form [formGroup]="verifyCode" (ngSubmit)="formStep2()">
        <button class="btn">Verify Code</button>
      </form>
    } @else if (step === 3) {
      <form [formGroup]="resetPassword" (ngSubmit)="formStep3()">
        <button class="btn" >Reset Password</button>
      </form>
    }


  </div>
</section>

